@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eeee;
    font-family: 'Poppins', sans-serif;
}
h1{
    margin-top: 10px;
    margin-left: 25%;
    background-color: #fc036b;
    background-color:;
    color: whitesmoke;
    width: 50%;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    font-style: italic;
}
form{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: white;
    margin-left: 20px;
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    line-height: 2;
}
label{
    font-size: 18px;
    margin-bottom: 5px;
}
#destination,#hotel{
    font-size: 18px;
    padding: 5px;
    margin: 5px 0;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #eee;
}
input{
    font-size: 18px;
    padding: 5px;
    margin: 5px 0;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #eee;
}
option{
    font-size: 18px;
    padding: 5px;
    outline: none;
    border: none;
    background-color: #eee;
}
.button{
    background-color: #45A049;
    border: none;
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}
.max{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
  }
  
  table td,
  table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  table tr:nth-child(even) {
    background-color: #8caacf;
  }
  
  table tr:hover {
    background-color: #ddd;
  }
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0468aa;
    color: white;
    text-align: center;
  }