@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url('./Images/photo-min.jpg');
    background-position: bottom;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: #1A1D2D;
    align-items: center;
    justify-content: center;
}
.container {
    max-width:400px;
    margin: 0 auto;
    padding: 50px 50px 30px 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .form-group button:hover {
    background-color: #45a049;
  }
.home{
  background-color: #45a049;
  padding: 10px;
  list-style: none;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 3px;
}
.home a{
  text-decoration: none;
  color: whitesmoke;
}
